@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



body{
    font-family: 'Exo', sans-serif;
}




.area{
    background: red;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);     
    width: 100%;
    height:1vh; 
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(5, 5, 5, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

/* Los del lado izquierdo */
.circles li:nth-child(1){
    left: 2%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
   
}

.circles li:nth-child(2){
    left: 5%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 12s;
   
}

.circles li:nth-child(3){
    left: 7%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
    
}

.circles li:nth-child(4){
    left: 9%;
    width: 60px;
    height: 60px;
    animation-delay: 40s;
    animation-duration: 18s;
    
}

.circles li:nth-child(5){
    left: 2%;
    width: 70px;
    height: 70px;
    animation-delay: 20s;
    
}
.circles li:nth-child(6){
    left: 6%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(7){
    left: 5%;
    width: 85px;
    height: 85px;
    animation-delay: 0s;
}





/* Los del lado derecho */

.circles li:nth-child(8){
    left: 90%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}
.circles li:nth-child(9){
    left: 91%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 12s;
}
.circles li:nth-child(10){
    left: 92%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}